:root {
    --shadow-color: 0deg 0% 62%;
    --shadow-elevation-low: 0.1px 0.2px 0.3px hsl(var(--shadow-color) / 0.34),
      0.2px 0.3px 0.4px -1.2px hsl(var(--shadow-color) / 0.34),
      0.4px 0.7px 0.9px -2.5px hsl(var(--shadow-color) / 0.34);
    --shadow-elevation-medium: 0.1px 0.2px 0.3px hsl(var(--shadow-color) / 0.36),
      0.3px 0.6px 0.8px -0.8px hsl(var(--shadow-color) / 0.36),
      0.8px 1.4px 1.8px -1.7px hsl(var(--shadow-color) / 0.36),
      2px 3.4px 4.4px -2.5px hsl(var(--shadow-color) / 0.36);
    --shadow-elevation-high: 0.1px 0.2px 0.3px hsl(var(--shadow-color) / 0.34),
      0.6px 1px 1.3px -0.4px hsl(var(--shadow-color) / 0.34),
      1.1px 1.9px 2.5px -0.7px hsl(var(--shadow-color) / 0.34),
      1.8px 3.1px 4px -1.1px hsl(var(--shadow-color) / 0.34),
      2.9px 4.9px 6.4px -1.4px hsl(var(--shadow-color) / 0.34),
      4.5px 7.6px 9.9px -1.8px hsl(var(--shadow-color) / 0.34),
      6.9px 11.6px 15.2px -2.1px hsl(var(--shadow-color) / 0.34),
      10.1px 17.1px 22.3px -2.5px hsl(var(--shadow-color) / 0.34);
  }
  
  body {
    padding: 0;
    margin: 0;
    background: #f0f0f0;
  }
  
  .deck {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(2.5in, 1fr));
    grid-gap: 0.125in;
    align-items: center;
    justify-items: center;
    padding: 4rem;
  }
  
  .card {
    height: 3.5in;
    width: 2.5in;
    border-radius: 0.0625in;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    background: #ffffff;
    display: grid;
    grid-template-columns: 0.375in 1fr 0.375in;
    user-select: none;
    transition: all 250ms ease-out;
    will-change: scale3d;
    transform: translateZ(0);
    box-shadow: var(--shadow-elevation-medium);
  }
  
  .card.hidden {
    background-color: #aa252c;
  }
  
  .card.hidden > * {
    display: none !important;
  }
  
  .card.hidden::before,
  .card.hidden::after {
    display: none !important;
  }
  
  .card .interior {
    display: none;
    font-size: 4rem;
    margin: 0.375in;
    grid-column: 1 / span 3;
    grid-row: 1 / span 2;
    text-align: center;
    border: 1px solid #ddd;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    line-height: 1;
  }
  
  .card::before,
  .card::after {
    font-size: 1.5rem;
    white-space: pre;
    text-align: center;
    justify-content: center;
    align-content: center;
    padding: 0.125in 0 0;
    line-height: 0.25in;
  }
  
  .card::before {
    grid-row: 1;
    grid-column: 1;
  }
  
  .card::after {
    grid-row: 2;
    grid-column: 3;
    transform: rotatez(180deg);
  }
  
  .spades,
  .clubs {
    color: black;
  }
  
  .hearts,
  .diamonds {
    color: red;
  }
  
  .title {
    width: 1.75in;
    font-size: 8rem;
  }
  
  /* SPADES */
  
  .spades .symbol::before {
    content: "♠\00FE0E";
  }
  
  .vA.spades::before,
  .vA.spades::after {
    content: "A\00000a♠\00FE0E";
  }
  
  .vK.spades::before,
  .vK.spades::after {
    content: "K\00000a♠\00FE0E";
  }
  
  .vQ.spades::before,
  .vQ.spades::after {
    content: "Q\00000a♠\00FE0E";
  }
  
  .vJ.spades::before,
  .vJ.spades::after {
    content: "J\00000a♠\00FE0E";
  }
  
  .v10.spades::before,
  .v10.spades::after {
    content: "10\00000a♠\00FE0E";
  }
  
  .v9.spades::before,
  .v9.spades::after {
    content: "9\00000a♠\00FE0E";
  }
  
  .v8.spades::before,
  .v8.spades::after {
    content: "8\00000a♠\00FE0E";
  }
  
  .v7.spades::before,
  .v7.spades::after {
    content: "7\00000a♠\00FE0E";
  }
  
  .v6.spades::before,
  .v6.spades::after {
    content: "6\00000a♠\00FE0E";
  }
  
  .v5.spades::before,
  .v5.spades::after {
    content: "5\00000a♠\00FE0E";
  }
  
  .v4.spades::before,
  .v4.spades::after {
    content: "4\00000a♠\00FE0E";
  }
  
  .v3.spades::before,
  .v3.spades::after {
    content: "3\00000a♠\00FE0E";
  }
  
  .v2.spades::before,
  .v2.spades::after {
    content: "2\00000a♠\00FE0E";
  }
  
  /*  HEARTS */
  
  .hearts .symbol::before {
    content: "♥\00FE0E";
  }
  
  .vA.hearts::before,
  .vA.hearts::after {
    content: "A\00000a♥\00FE0E";
  }
  
  .vK.hearts::before,
  .vK.hearts::after {
    content: "K\00000a♥\00FE0E";
  }
  
  .vQ.hearts::before,
  .vQ.hearts::after {
    content: "Q\00000a♥\00FE0E";
  }
  
  .vJ.hearts::before,
  .vJ.hearts::after {
    content: "J\00000a♥\00FE0E";
  }
  
  .v10.hearts::before,
  .v10.hearts::after {
    content: "10\00000a♥\00FE0E";
  }
  
  .v9.hearts::before,
  .v9.hearts::after {
    content: "9\00000a♥\00FE0E";
  }
  
  .v8.hearts::before,
  .v8.hearts::after {
    content: "8\00000a♥\00FE0E";
  }
  
  .v7.hearts::before,
  .v7.hearts::after {
    content: "7\00000a♥\00FE0E";
  }
  
  .v6.hearts::before,
  .v6.hearts::after {
    content: "6\00000a♥\00FE0E";
  }
  
  .v5.hearts::before,
  .v5.hearts::after {
    content: "5\00000a♥\00FE0E";
  }
  
  .v4.hearts::before,
  .v4.hearts::after {
    content: "4\00000a♥\00FE0E";
  }
  
  .v3.hearts::before,
  .v3.hearts::after {
    content: "3\00000a♥\00FE0E";
  }
  
  .v2.hearts::before,
  .v2.hearts::after {
    content: "2\00000a♥\00FE0E";
  }
  
  /* CLUBS */
  
  .clubs .symbol::before {
    content: "♣\00FE0E";
  }
  
  /*  DIAMONDS */
  
  .vA.diamonds::before,
  .vA.diamonds::after {
    content: "A\00000a♦\00FE0E";
  }
  
  .vK.diamonds::before,
  .vK.diamonds::after {
    content: "K\00000a♦\00FE0E";
  }
  
  .vQ.diamonds::before,
  .vQ.diamonds::after {
    content: "Q\00000a♦\00FE0E";
  }
  
  .vJ.diamonds::before,
  .vJ.diamonds::after {
    content: "J\00000a♦\00FE0E";
  }
  
  .v10.diamonds::before,
  .v10.diamonds::after {
    content: "10\00000a♦\00FE0E";
  }
  
  .v9.diamonds::before,
  .v9.diamonds::after {
    content: "9\00000a♦\00FE0E";
  }
  
  .v8.diamonds::before,
  .v8.diamonds::after {
    content: "8\00000a♦\00FE0E";
  }
  
  .v7.diamonds::before,
  .v7.diamonds::after {
    content: "7\00000a♦\00FE0E";
  }
  
  .v6.diamonds::before,
  .v6.diamonds::after {
    content: "6\00000a♦\00FE0E";
  }
  
  .v5.diamonds::before,
  .v5.diamonds::after {
    content: "5\00000a♦\00FE0E";
  }
  
  .v4.diamonds::before,
  .v4.diamonds::after {
    content: "4\00000a♦\00FE0E";
  }
  
  .v3.diamonds::before,
  .v3.diamonds::after {
    content: "3\00000a♦\00FE0E";
  }
  
  .v2.diamonds::before,
  .v2.diamonds::after {
    content: "2\00000a♦\00FE0E";
  }
  
  .vA.clubs::before,
  .vA.clubs::after {
    content: "A\00000a♣\00FE0E";
  }
  
  .vK.clubs::before,
  .vK.clubs::after {
    content: "K\00000a♣\00FE0E";
  }
  
  .vQ.clubs::before,
  .vQ.clubs::after {
    content: "Q\00000a♣\00FE0E";
  }
  
  .vJ.clubs::before,
  .vJ.clubs::after {
    content: "J\00000a♣\00FE0E";
  }
  
  .v10.clubs::before,
  .v10.clubs::after {
    content: "10\00000a♣\00FE0E";
  }
  
  .v9.clubs::before,
  .v9.clubs::after {
    content: "9\00000a♣\00FE0E";
  }
  
  .v8.clubs::before,
  .v8.clubs::after {
    content: "8\00000a♣\00FE0E";
  }
  
  .v7.clubs::before,
  .v7.clubs::after {
    content: "7\00000a♣\00FE0E";
  }
  
  .v6.clubs::before,
  .v6.clubs::after {
    content: "6\00000a♣\00FE0E";
  }
  
  .v5.clubs::before,
  .v5.clubs::after {
    content: "5\00000a♣\00FE0E";
  }
  
  .v4.clubs::before,
  .v4.clubs::after {
    content: "4\00000a♣\00FE0E";
  }
  
  .v3.clubs::before,
  .v3.clubs::after {
    content: "3\00000a♣\00FE0E";
  }
  
  .v2.clubs::before,
  .v2.clubs::after {
    content: "2\00000a♣\00FE0E";
  }
  
  .diamonds .symbol::before {
    content: "♦\00FE0E";
  }
  
  .v10 .symbol:nth-child(1) {
    grid-column: 2;
    grid-row: 1 / span 2;
  }
  
  .v10 .symbol:nth-child(10) {
    grid-column: 2;
    grid-row: 3 / span 2;
  }
  
  .v10 .symbol:nth-child(2),
  .v10 .symbol:nth-child(3) {
    align-self: start;
  }
  
  .v10 .symbol:nth-child(8),
  .v10 .symbol:nth-child(9) {
    align-self: end;
  }
  
  .v9 .symbol:nth-child(1) {
    grid-column: 2;
    grid-row: 1 / span 4;
  }
  
  .v8 .symbol:nth-child(1) {
    grid-column: 2;
    grid-row: 1 / span 3;
  }
  
  .v8 .symbol:nth-child(2),
  .v8 .symbol:nth-child(3) {
    grid-row: 1 / span 2;
    align-self: start;
  }
  
  .v8 .symbol:nth-child(4),
  .v8 .symbol:nth-child(5) {
    grid-row: 3 / span 2;
  }
  
  .v8 .symbol:nth-child(6),
  .v8 .symbol:nth-child(7) {
    grid-row: 5 / span 2;
    align-self: end;
  }
  
  .v8 .symbol:nth-child(8) {
    grid-column: 2;
    grid-row: 4 / span 3;
  }
  
  .v8 .symbol:nth-child(n + 6) {
    transform: rotate(180deg);
  }
  
  .v7 .symbol:nth-child(1) {
    grid-column: 2;
    grid-row: 2 / span 5;
    align-self: start;
  }
  
  .v7 .symbol:nth-child(2),
  .v7 .symbol:nth-child(3) {
    grid-row: 1 / span 2;
    align-self: start;
  }
  
  .v7 .symbol:nth-child(4),
  .v7 .symbol:nth-child(5) {
    grid-row: 3 / span 2;
  }
  
  .v7 .symbol:nth-child(6),
  .v7 .symbol:nth-child(7) {
    grid-row: 5 / span 2;
    align-self: end;
  }
  
  .symbol:nth-child(n + 6) {
    transform: rotate(180deg);
  }
  
  .v6 .interior {
    grid-auto-flow: column;
  }
  
  .v6 .symbol:nth-child(-n + 3) {
    grid-column: 1;
  }
  
  .v6 .symbol:nth-child(n + 4) {
    grid-column: 3;
  }
  
  .v6 .symbol:nth-child(1),
  .v6 .symbol:nth-child(4) {
    align-self: start;
  }
  
  .v6 .symbol:nth-child(3),
  .v6 .symbol:nth-child(6) {
    align-self: end;
    transform: rotate(180deg);
  }
  
  .v5 .symbol:nth-child(1) {
    grid-column: 2;
    grid-row: 2;
  }
  
  .v5 .symbol:nth-child(2),
  .v5 .symbol:nth-child(4) {
    align-self: start;
  }
  
  .v5 .symbol:nth-child(3),
  .v5 .symbol:nth-child(5) {
    grid-row: 3;
    align-self: end;
    transform: rotate(180deg);
  }
  
  .v5 .symbol:nth-child(2),
  .v5 .symbol:nth-child(3) {
    grid-column: 1;
  }
  
  .v5 .symbol:nth-child(4),
  .v5 .symbol:nth-child(5) {
    grid-column: 3;
  }
  
  .v4 .symbol:nth-child(1),
  .v4 .symbol:nth-child(3) {
    grid-row: 1;
    align-self: start;
  }
  
  .v4 .symbol:nth-child(2),
  .v4 .symbol:nth-child(4) {
    grid-row: 2;
    align-self: end;
    transform: rotate(180deg);
  }
  
  .v4 .symbol:nth-child(n + 3) {
    grid-column: 3;
  }
  
  .v2 .interior,
  .v3 .interior {
    grid-auto-flow: column;
  }
  
  .v2 .symbol,
  .v3 .symbol {
    grid-column: 2;
  }
  
  .v2 .symbol:first-child,
  .v3 .symbol:first-child {
    align-self: start;
  }
  
  .v2 .symbol:last-child,
  .v3 .symbol:last-child {
    transform: rotate(180deg);
    align-self: end;
  }
  